# System files
.DS_Store

# App packages
node_modules
vendor
.cache

# Build
package-lock.json
yarn.lock
build
dist

# Security
.env

# IDE
.idea
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*